<p><%= notice %></p>
<%= form_with(model: @contact) do |form| %>
    <div class="Contact_content">
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div class="Contact_content">
        <%= form.label :email %>
        <%= form.text_field :email %>
    </div>
    <div class="Contact_content">
        <%= form.label :content %>
        <%= form.text_field :content %>
    </div>
    <%= form.submit %>
<% end %>